/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #e1e3e2;
  margin:0;
  padding:0;
  width:100%;
}

div.content{
  background-color: #e1e3e2;
}

table {
	margin-right: auto;
	margin-left: auto;
}

label {
	display: block;
	margin-top: 30px;
}


.checks {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 15%;
}

#title {
  text-align: center;
}

label .inline {
	display: inline;
	margin-top: 30px;
}

input[class="rating"] {
  width: 20px;
}

input[id="comment"]{
  width:80%;
  height: 80px;
  padding-left: 10%;
}

#evals{
  align: left;
  padding-left: 45%;
}

input[type=submit] {
  width: 25%;
  background-color: #434d75;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table { 
  border-collapse:collapse;
}

.title{
  margin-top: 35px;
}

.infoTable1, .infoTable2, .infoTable3{
  width:80%;
}

tr.header th{
	width: 600px;
}

.th1, .infoTable1 th, .addButton1{
  background-color: #b05f6d;
}

.th1 a, .th2 a, .th3 a, .th4 a{
  color: #ffffff;
}

.th2, .infoTable2 th, .addButton2{
  background-color: #eb6b56;
}

.th3, .infoTable3 th, .addButton3{
  background-color: #ffc153;
}

.th4{
  background-color: #47b39d; 
} 

.addButton1, .addButton2, .addButton3{
  border-radius: 8px;
  padding:10px;
  border: none;
}

button.addButton1 a,button.addButton2 a, button.addButton3 a{
    color:#FFFFFF;
} 

tr:nth-child(even) {
  background-color: #cdcfd4; }

tr:nth-child(odd) {
  background-color: #dedfe3; }

th, td {
  padding-left: 5px; }

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #434d75;
  color: black; }



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


td {
  padding-top: 8px;
  padding-bottom: 8px; }

.pub {
  margin-left: auto;
  margin-right: auto; }

.pub td, th {
  text-align: center; }

.pubcol1 td, th {
  width: 150px; }

h2 {
  text-align: center;
  padding-top: 30px; }

li {
  padding-top: 10px;
  padding-bottom: 10px; }

.infoTables th{
  background-color: #462446;
}

.navbar{
  position:fixed;
  bottom:0;
  right:0;
  padding-right:10px;
}

.infoButton1, .infoButton2, .infoButton3{
  background-color: #ffc153;
  filter: brightness(110%);
  border-radius: 8px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left:15px;
  padding-right:15px;
  border: none;
}

.infoButton1{
  background-color: #b05f6d;
  filter: brightness(110%);
}

.infoButton2{
  background-color: #eb6b56;
  filter: brightness(110%);
}

.infoButton3{
  background-color: #ffc153;
  filter: brightness(110%);
}

button.infoButton1 a, button.infoButton2 a, button.infoButton3 a, button.addButton1 a, button.addButton1 a, button.addButton1 a{
    color:#000000;
} 