/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

table {
	margin-right: auto;
	margin-left: auto;
}

label {
	display: block;
	margin-top: 30px;
}

.checks {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 15%;
}

#title {
  text-align: center;
}

label .inline {
	display: inline;
	margin-top: 30px;
}

input[class="rating"] {
  width: 20px;
}

input[id="comment"]{
  width:80%;
  height: 80px;
  padding-left: 10%;
}

#evals{
  align: left;
  padding-left: 45%;
}

input[type=submit] {
  width: 25%;
  background-color: #ff6961;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


tr.header th{
	width: 600px;
}

tr:nth-child(even) {
  background-color: #f2f2f2; }

th, td {
  padding-left: 5px; }

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff6961;
  color: white; }



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  /*@extend .control-group;*/
  /*@extend .error !optional;*/
 }


td {
  padding-top: 8px;
  padding-bottom: 8px; }

.pub {
  margin-left: auto;
  margin-right: auto; }

.pub td, th {
  text-align: center; }

.pubcol1 td, th {
  width: 150px; }

h2 {
  text-align: center;
  padding-top: 30px; }

li {
  padding-top: 10px;
  padding-bottom: 10px; }


